@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2'),
       url('/fonts/IBMPlexSansArabic-Regular.woff') format('woff'),
       url('/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/fonts/IBMPlexSansArabic-Bold.woff2') format('woff2'),
       url('/fonts/IBMPlexSansArabic-Bold.woff') format('woff'),
       url('/fonts/IBMPlexSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
}
